* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-width: 320px;
  max-width: 100vw;
}

body {
  height: 100vh;
  color: #bababa;
  background: #1e1e1e;
}

a {
  color: inherit;
  text-decoration: none;
}
